
<main class="main">
  <header class="singstarswap">
    <img class="brand-logo" src="/assets/logo.svg" alt="logo" aria-hidden="true" />
  </header>
  <section class="content">
      <mat-tab-group>
        <mat-tab label="Game Switcher">
          <ng-template matTabContent>
            <app-gamecards></app-gamecards>
          </ng-template>
        </mat-tab>
        <mat-tab label="Song Lookup">
          <ng-template matTabContent>
            <app-songsearch></app-songsearch>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
  </section>
</main>