
.container {
    display: flex;
    height: 90dvh;
}

mat-drawer {
    padding: 10px;
    min-width: 20dvw;
    max-width: 90dvw;
}

.mat-h2 {
    margin: .1em 0 .3em;
}

.navigation-panel {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    width: 1%;
    min-width: 2em;
    background: #fff;
    padding: 10px;
    scrollbar-width: 1px;
    scrollbar-gutter: 1px;
    border: 1px solid #ccc;
    overflow-y: auto;
}
  
.navigation-panel a {
    display: block;
    margin: 5px 0;
    cursor: pointer;
    font-size: large;
    text-align: center;
}
  
.items-list {
    flex-grow:1;
    overflow-y: auto;
    padding: 10px;
}

.labelBeforeSlide {
    vertical-align: top;
    line-height: 24px; 
    margin-right:0.5rem;
    margin-bottom:0.5rem;
  }
  
  .toggle-control {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }