<mat-drawer-container>
    <mat-drawer #settingsdrawer mode="over" role="region">
        <div><h2 class="mat-h2"> Settings </h2></div>
        <div class="toggle-control">
            <div>
                <label class="labelBeforeSlide" id="sortByLabel">Sort By</label>
                <mat-button-toggle-group name="SortOrder" aria-labelledby="sortByLabel" hideSingleSelectionIndicator="true" multiple="false" [value]="sortByKeySubject.value" (change)="sortOrderToggle($event)">
                    <mat-button-toggle value=artist>Artist</mat-button-toggle>
                    <mat-button-toggle value=title>Song</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
        <div class="toggle-control">
            <div>
                <label class="labelBeforeSlide" id="filterAvailableLabel">Available Only</label>
                <mat-slide-toggle name="FilterAvailable" aria-labelledby="filterAvailableLabel" [checked]="filterByAvailableSubject.value" (change)="filterAvailableToggle($event)"/>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <div class="container">
            <div class="navigation-panel">
                <a (click)="settingsdrawer.toggle()">⚙</a>
                @for (letter of letterArray; track letter) {
                <a (click)="scrollTo(letter)">{{letter}}</a>
                }
            </div>

            <div class="items-list">
                @for (group of groupedItems; track group.letter) {
                <div>
                    <h2 id="{{group.letter}}">{{group.letter}}</h2>
                    @for (item of group.items; track item.artist+item.title) {
                    <button mat-stroked-button class="song-button" (click)="openDialog(item)">
                        @if (sortByKeySubject.value === 'artist') {
                        <mat-panel-title>{{item.artist}} - {{item.title}}</mat-panel-title>
                        } @else {
                        <mat-panel-title>{{item.title}} by {{item.artist}}</mat-panel-title>
                        }
                    </button>
                    }
                </div>
                }
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>