<div class="filters-container">
  <h2 class="mat-h2">Settings</h2>
  
  <div class="filter-control">
    <label class="filter-label" id="sortByLabel">Sort By</label>
    <mat-button-toggle-group 
      name="SortOrder" 
      aria-labelledby="sortByLabel" 
      hideSingleSelectionIndicator="true" 
      [value]="sortBy" 
      (change)="onSortChange($event.value)">
      <mat-button-toggle value="artist">Artist</mat-button-toggle>
      <mat-button-toggle value="title">Song</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="filter-control">
    <label class="filter-label" id="filterAvailableLabel">Available Only</label>
    <mat-slide-toggle 
      name="FilterAvailable" 
      aria-labelledby="filterAvailableLabel" 
      [checked]="showAvailableOnly" 
      (change)="onFilterChange($event.checked)">
    </mat-slide-toggle>
  </div>
</div>
