         
<div class="flex-container" layout="row" flex>
    @for (item of (games$ | async); track item) {
        <mat-card class="game-card" [ngStyle]="{'min-width': gamewidth}" appearance="outlined">
            <mat-card-header>
                <mat-card-title>{{item.name}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{item.imageUrl}}" alt="cover image"/>
            <mat-card-content></mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="handleClick(item)">MOUNT</button>
                <button mat-button (click)="handleClick(item)"></button>
            </mat-card-actions>
        </mat-card>
    }   
</div>