.flex-container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.game-card {
  flex: 0 0 auto;
  box-sizing: border-box;
  padding: 8px;
  margin: 0.2%;
}

mat-card img {
  width: 256px;
  height: auto;
  margin: auto auto;
}

mat-card-header {
  display: flex;
  padding: 16px;
  align-items: center;
  justify-content: center;
}